/histogram
/extract
/Makefile
/config.h
/config.cache
/config.status
/outguess
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/conf[A-Za-z]*/
/config.guess
/config.h.in
/config.log
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/**/*.o
/src/histogram
/src/outguess
/stamp-h1
/test-driver
/tests/Makefile
/tests/Makefile.in
/tests/*.trs
/tests/*.log
/tests/out.jpg
/AGENTS.md
/tmp
